body{
    margin: 0;
}



/* ............Sub_container_1................ */

.sub-container1{
   background-color: rgb(37, 37, 131);
   border: 2px solid rgb(37, 37, 131);
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
.links a{
      color: whitesmoke;
      margin: 4px;
      width: fit-content;
      padding:3px 3px;
      display: flex;
      align-self: auto;
      margin-right: 15px;
      text-decoration: none;
}
/* ............Sub_container_2................ */

.sub-container2{
    display: flex;
    align-items: center;   
}
.college_name_img{
    width: 400px;
    height: 100px;
}
.drop_down_set{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.drop_down{    
    font-size: 15px;
    display: flex;
    align-self: auto;
    margin: 10px; 
}
.Admission_btn{
    background-color:rgb(37, 37, 131);
    border-radius: 7px;
    width: 200px;
    height: 30pxpx;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_text{
    font-size: large;
}
.frond_img{
    width: 100%;
}
/* ............Sub_container_3................ */

.sub-container3{
    background-image: url("College_img/Collegeimg.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: flex-end;
}
.text_box{
    width: 600px;  
    padding: 50px;
    padding-left: 80px;
}
.text{
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
    color: whitesmoke;
}
/* ............Sub_container_4................ */

.sub-container4{
    background-color:rgb(37, 37, 131);
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}
.fourth_bar_box{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;    
}
.admission_reg_links a{
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/* ............Sub_container_5................ */

.sub-container5{
  display: flex;
}
.iframe{
    width: 800px;
    height: 60vh; 
    border-radius: 5px;
}
.main_box{
    position: absolute;
    width: 600px;
    height: 45vh;
    background-color:rgb(37, 37, 131);
    margin-left: 40%;
    margin-top: 5%;
    display: flex;
    border-radius:7px ;    
}
.small_box1{
   color: whitesmoke;
   font-size: 30px;
   font-weight: 30px;
   margin-top: 60px;
   margin: 40px;
}
.small_box2{
    margin: 40px;
    font-size: large;
    color: whitesmoke;
 }
 .small_box3{
    margin: 40px;
    color: whitesmoke;
    font-size: larger;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /* ............Sub_container_6................ */

.sub_container6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    align-items: center;
}
.sub_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.col_items1{
    margin-top: 50px;
    width: 200px;
    font-size: x-large;
    font-weight: 600;
}

.col_items2{
    margin-top:20px ;
    width: 200px;
    height: 200px;
}
/* ............Sub_container_7................ */
.sub_container7{
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 37, 131);
    height: 550px;
    justify-content: space-evenly;
}
.sub_container7_col1{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.sub_cont7_box{
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}
.sub_cont7_small_box1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 30px;
    margin-top: 60px;
    margin: 20px;
}
.sub_cont7_small_box2{
    margin: 20px;
    font-size: large;
    font-style: oblique;
    color: rgb(244, 234, 234);
}
.sub_cont7_small_box3{
    margin: 20px;
    color: whitesmoke;
    font-size: larger;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_conatiner7_partition{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 800px;
}
.sub_container7_col2{
    display: flex;
    width: 40%;
    height: 450px;
    background-color: white;
    margin-top: 50px;
    border-radius: 4px;
    margin-right: 40px;
    flex-direction: column;
    align-items: center;
}

.sub_container7_col3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 450px;
    background-color: white;
    margin-top: 50px;
    border-radius: 4px;
    margin-right: 40px;
}
.sub_col_cont7 img{
    width: 270px;
    height: 200px;
    margin: 21px;
    border-radius: 4px;
}
.sub_col_cont_7{
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
}
.cont7_part1{
    margin-left: 40px;
    font-weight: bold;
}
.cont7_part2{
    margin: 20px;
}
.cont7_part3 a{
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
}
/* .............sub conatiner 8..................... */
.sub_container8{
    display: flex;
}
.sub_container8_image{
    background-image: url("College_img/Filim_Festivel.jpg");
    height: 600px;
    width: 1000px;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: flex-end;
}
.sub_container8_col{
  color: rgb(240, 233, 233);
  font-size: xx-large;
  width: 100%;
  margin: 10px;
}
.sub_container8_classes{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(37, 37, 131);
    margin-left: 60%;
    margin-top: 90px;
}
.classes{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}
.classes_text{
    width: 40px;
    color: whitesmoke;
    font-size: xx-large;
    margin: 20px;
    text-align: center;
}
/* ...........................sub_container 9...................... */
.sub_container9{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placements_img img{
    margin: 40px;
}
.placements{
    margin-top: 40px;
    font-size: xx-large;
    font-weight: bolder;
}
.Arrows{
    display: flex;
    
}
.Arrow_box{
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(34, 100, 182);
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    font-size: x-large;
    font-weight: bolder;
    color: whitesmoke;
}
/* ...................sub conatainer 10....................... */

.sub_container10{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 129);
    height: 550px;
    justify-content: space-evenly;
}
.programmes1{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 140px;
    color: aliceblue;
}
.programmes2{
   display: flex;
   justify-content: space-evenly;
}
.programmes_details{
   display: flex;
   flex-direction: column;
   height: 50vh;
   background-color: white;
   padding: 15px;
   border-radius: 4px;
}
.programmes_image img{
    border-radius: 5px;
}

.programmes_name {
    margin-top: 20px;
    font-size: larger;
    
}
.programmes_name a{
    text-decoration: none;
}

